
nav {
    
    text-align: center;
    background-image: url('../images/lanterns.png');
    height: 200px;
    color: #00008B;
    text-shadow: 0px 0px 20px #d2f6fd, 0px 0px 10px #93bed3, 0px 0px 10px #93d3cc, 0px 0px 20px #93d3cc;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Verdana', 'sans-serif';
}
.dinner, .lunch {
    background-size: cover;
   }
nav h1{
    padding-top: 25px;
    font-size: 250%;
}

body{
    background-image: url('../images/dragon.jpeg');
    background-size: cover;
}

.neonText div {
    margin: 30px;
    padding: 50px;
    width: 50%;
    text-align: center;


}

.neonText {
   color: rgb(251, 251, 251);
   text-shadow:
       0 0 20px rgb(17, 17, 149),
       0 0 20px blue,
        0 0 42px #0fa
 }
.lunch {
    background-image: url('../images/buffet.jpeg');
    background-position: right 15%;
    height: auto;
    width: 50%;
    height: 100%;

}
.dinner {
    background-image: url('../images/hotpot.jpeg');
    background-position: right 15%;
    width: 50%;
}
 .food-h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

 #contact h2:first-child::before {
    content: "📍";
}

#contact  h2:nth-of-type(2)::before {
    content: "📞";
}
#contact p {
    color:#2323b5;
}


#contact {
background-color: rgb(165, 180, 200);
box-shadow: rgb(204, 229, 234) 0 0 20px;
font-size: large;
margin: 50px;
padding: 5px;
text-align: center;
font-family: 'Kdam Thmor Pro', sans-serif;
}

.food-img {
    width: 100%;
    height: 60%;
    border-radius: 5px;
}
#maps {
    width: 50%;
}
@media screen and (min-width: 300px) and (max-width: 600px){
  #maps {
    height:50%;
  }
  .neonText h2, .neonText h3 {
    background-color: #0c0c22;
    width:fit-content;
}
    nav ul {
        display: block;
        text-align: center;
    }
   nav ul li {
       margin: 5px;
       font-size: large;
   }
  
   .foodDiv {
     background-color: #a8aec5;
     margin: auto;
     padding: 0;
     text-align: center;
     width: 60%;
     padding: 20px 20px 5px 20px;
   }
 
 #menu {
    margin-top: 30px;
    padding: 30px;
 }

}
/* Tablet view */
@media screen and (min-width: 600px) and (max-width:1000px) {
    .neonText h2, .neonText h3 {
        background-color: #020202;
        width:fit-content;
    }
    nav ul {
        margin: auto 0;
        padding: 0;
        text-align: center;
        display: grid;
        font-size: x-large;
        list-style-type: none;
        background-color: rgb(145, 141, 210);
        grid-template-columns: 1fr 1fr 1fr;
        position: fixed;
        top:0;
        width:100%;
    }
    #menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1px;
    }
    .foodDiv {
        background-color: rgb(154, 151, 196);
        text-align: center;
        border-bottom:rgb(61, 12, 61) solid 2px;
    }
   .food-img {
    float:left;
    width: 50%;
    height:100%;
   }

}
/* Desktop view */
@media screen and (min-width: 1000px) and (max-width: 2500px) {
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(145, 141, 210);
    height: 50%;
}
nav {
    background-position: right 40%;
}
nav ul li:hover{
    text-decoration: underline;
}
nav ul li {
    margin-top: 20px;
    font-size: xx-large;
    list-style-type: none;
}
nav li.active {
background-color: rgb(170, 224, 237);
border-radius: 20%;
height:fit-content;
border: #242474 5px solid;
}
body .neonText > div {
    border-radius: 100%;
    border: solid lightblue 5px;
    background-position: right 5%;
    background-repeat: no-repeat;
}

.foodDiv {
    background-color: #a8aec5;
    padding: 1%;
    margin: 1%;
    text-align: center;
    border-radius: 10px;
    width: 25%;
}
.foodDiv:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #eae1e1;
}
.left-arrow:hover, .right-arrow:hover {
    cursor: pointer;
}
#menu {
    border-radius: 15%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;   
    justify-content: center;
}

.arrows {
    display: flex;
    justify-content: space-between;
  }
  .right-arrow {
 	border-top: 25px solid transparent;
	border-left: 50px solid #c32121;
	border-bottom: 25px solid transparent;
 }

 .right-arrow:hover {
    border-left: 60px solid #861b1b;
 }

 .left-arrow:hover {
    border-right: 60px solid #861b1b;
 }
 .left-arrow{
	border-top: 25px solid transparent;
	border-right: 50px solid #d42b2b;
	border-bottom: 25px solid transparent;
 }

}

